<footer class="main-footer">
    <strong>&copy; <%= new Date().getFullYear() %> NULLCATIA</strong>
    - Transformación Felina 4.0
    <div class="float-right d-none d-sm-inline-block">
        <b>Versión</b> 1.0
    </div>
</footer>
