<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title || 'NULLCATIA' %></title>

<!-- Librerías principales -->
<link rel="stylesheet"
    href="/adminlte/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">

<!-- Tipografía medieval -->
<link
    href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap"
    rel="stylesheet">

<!-- Tus estilos personalizados -->
<link rel="stylesheet" href="/styles/styles.css">
