<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand -->
    <a href="/" class="brand-link text-center">
        <span class="brand-text font-weight-light">🐱‍👑 <b>NULLCATIA</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview" role="menu">

                <!-- Inicio -->
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <span class="mr-2">🏰</span>
                        <p>Inicio</p>
                    </a>
                </li>

                <!-- Gatitos -->
                <li class="nav-item">
                    <a href="/gatos" class="nav-link">
                        <span class="mr-2">😺</span>
                        <p>Gatitos</p>
                    </a>
                </li>

                <!-- Clanes -->
                <li class="nav-item">
                    <a href="/clanes" class="nav-link">
                        <span class="mr-2">🛡️</span>
                        <p>Clanes</p>
                    </a>
                </li>

                <!-- Pergaminos -->
                <li class="nav-item">
                    <a href="/scrolls" class="nav-link">
                        <span class="mr-2">📜</span>
                        <p>Pergaminos</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
